:root {
  /*Fonts*/
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  /*Text colors*/
  --main-txt-cl: #757575;
  --secondary-txt-color: #212121;
  --accent-txt-cl: #2196f3;
  /*BG colors */
  --dark-bg-cl: #2f303a;
  --light-bg-cl: #ffffff;
  --gray-bg-cl: #f5f4fa;
  /*Others */
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
  background-color: var(--light-bg-cl);
  font-size: 14px;
  letter-spacing: 0.03em;
}
/*Reset styles*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/*Base styles*/
img {
  display: block;
  max-width: 100%;
  height: auto;
}
address {
  font-style: normal;
}
button {
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  /*outline: 2px solid red;
  outline-offset: -2px;*/
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
}
.section-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--secondary-txt-color);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*Header section*/
.header {
  background-color: var(--light-bg-cl);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
  gap: 50px;
}
/*Альтернатива gap*/
/*.header-item {
  margin-right: 50px;
}
.header-item:last-child {
  margin-right: 0;
}*/
.logo-link {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-txt-cl);
  margin-right: 93px;
}
.logo-accent {
  color: #000000;
}
.header-nav {
  margin-right: auto;
}
.header-link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-txt-color);
  transition: color var(--animation);
}
.header-link:hover,
.header-link:focus,
.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-txt-cl);
}
.header-link-current {
  color: var(--accent-txt-cl);
  position: relative;
}
.header-link-current::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;

  background-color: var(--accent-txt-cl);
  border-radius: 2px;
}
.mail-icon,
.tel-icon {
  fill: currentColor;
  margin-right: 10px;
}
.header-mail,
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
  transition: color var(--animation);
}
/*Hero section*/
.hero {
  background-color: var(--dark-bg-cl);
  padding: 200px 0;
  height: 600px;
  max-width: 1600px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/img.jpg);
  background-position: center;
  margin: 0 auto;
}
.hero-title {
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-bg-cl);
}
.hero-btm {
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  padding: 10px 32px;
  border: none;
  line-height: 1.88;

  color: var(--light-bg-cl);
  cursor: pointer;
  background-color: var(--accent-txt-cl);
}
/*About section*/
.about-list {
  display: flex;
  gap: 30px;
}
.about-subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-txt-color);
}
.about-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
/*Work section*/
.work-list {
  display: flex;
  gap: 30px;
}
.work {
  padding-top: 0;
}
.work-item {
  position: relative;
}
.about-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: var(--gray-bg-cl);
  margin-bottom: 30px;
}
.work-img-overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;

  background-color: rgba(47, 48, 58, 0.8);
}
.work-img-overlay-text {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--light-bg-cl);
}

/*Team section*/
.team {
  background-color: var(--gray-bg-cl);
}
.team-description {
  padding: 30px 0;
}
.team-list {
  display: flex;
  gap: 30px;
}
.team-item {
  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-txt-color);
}
.team-desc {
  margin-top: 10px;
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/*Customers section*/
.customers {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  color: #afb1b8;

  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color var(--animation), color var(--animation);
}
.customers-icon {
  fill: currentColor;
}
.customers-link:hover,
.customers-link:focus {
  color: var(--accent-txt-cl);
  border-color: var(--accent-txt-cl);
}

/*Footer section*/
.footer {
  background-color: var(--dark-bg-cl);
  padding: 60px 0;
}
.footer-logo-address {
  margin-right: 70px;
}
.footer-logo-link {
  margin-right: 0;
}
.footer-logo-accent {
  color: var(--light-bg-cl);
}
address {
  margin-top: 20px;
}
.footer-addres {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
  transition: color var(--animation);
}
.footer-mail,
.footer-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--animation);
}
.footer-item {
  margin-bottom: 9px;
}
.footer-item:last-child {
  margin-bottom: 0;
}
.footer-addres:hover,
.footer-addres:focus,
.footer-mail:hover,
.footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-txt-cl);
}
.foter-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-bg-cl);
  margin-bottom: 20px;
}
.foter-container {
  display: flex;
  align-items: baseline;
}
.foter-socials {
  margin-right: auto;
}
.foter-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--light-bg-cl);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: color var(--animation), background-color var(--animation);
}
.foter-socials-icon {
  fill: currentColor;
}
.foter-socials-link:hover,
.foter-socials-link:focus {
  color: var(--light-bg-cl);
  background-color: var(--accent-txt-cl);
}
.foter-mailing-list form {
  display: flex;
}
.foter-mailing-list input {
  background: none;
  border: none;
  background-color: var(--dark-bg-cl);
  width: 358px;
  height: 50px;
  color: var(--light-bg-cl);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 16px;
  margin-right: 12px;
}
.foter-mailing-list input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.mailing-btn-submit {
  width: 200px;
  height: 50px;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--light-bg-cl);
  cursor: pointer;
  background-color: var(--accent-txt-cl);
  display: flex;
}
.mailing-icon {
  margin-left: 10px;
}
/*Portfolio section*/
.project-list-btn {
  margin-bottom: 50px;
  display: flex;
  gap: 8px;
  justify-content: center;
}
.projects-btn {
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  background-color: var(--gray-bg-cl);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--secondary-txt-color);
  cursor: pointer;
  letter-spacing: 0.03em;
  transition: color var(--animation), background-color var(--animation), box-shadow var(--animation);
}
.projects-btn:hover,
.projects-btn:focus {
  color: var(--light-bg-cl);
  background-color: var(--accent-txt-cl);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.projects-btn-current {
  color: var(--light-bg-cl);
  background-color: var(--accent-txt-cl);
}
.cards-item {
  transition: box-shadow var(--animation);
}
.cards-item:hover,
.cards-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.cards-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.cards-description {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}
.cards-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-txt-color);
}
.cards-desc {
  margin-top: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--main-txt-cl);
}
.overlay-cards-img {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 101%;
  padding: 63px 24px;
  transform: translateY(100%);

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(33, 150, 243, 0.9);

  transition: transform var(--animation);
}
.cards-item:hover .overlay {
  transform: translateY(0);
}
.overlay-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--light-bg-cl);

  user-select: none;
}
/*Socials icons*/
.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  background-color: var(--light-bg-cl);
  border-radius: 50%;
  transition: background-color var(--animation);
}
.socials-icon {
  fill: currentColor;
  transition: color var(--animation);
}
.socials-link:hover,
.socials-link:focus {
  color: var(--light-bg-cl);
  background-color: var(--accent-txt-cl);
}

/*Спосіб з вказанням fill для іконки*/

/*.socials-link:hover {
  background-color: var(--accent-txt-cl);
}
.socials-link:hover .socials-icon {
  fill: var(--light-bg-cl);
}*/

/*Modal window*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity var(--animation), visibility var(--animation);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  background-color: var(--light-bg-cl);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--animation);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.3);
}
.modal-btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #0000001a;
  cursor: pointer;
  transition: fill var(--animation);
}
.modal-btn-close:hover {
  fill: var(--accent-txt-cl);
}
.modal-title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--secondary-txt-color);
}
.form-element {
  display: flex;
  flex-direction: column;
}
.form-element label {
  margin-bottom: 4px;
  font-size: 12px;
}
.input-wrap {
  position: relative;
  margin-bottom: 10px;
}
.modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  translate: 0 -50%;
}
.form-element input {
  height: 40px;
  border: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  width: 100%;
  cursor: pointer;
  outline: none;
  transition: border var(--animation);
}
.form-element input:focus {
  border: 1px solid var(--accent-txt-cl);
  border-radius: 4px;
}
.form-element input + svg {
  transition: fill var(--animation);
}
.form-element input:focus + svg {
  fill: var(--accent-txt-cl);
}
.textarea {
  margin-bottom: 20px;
}
.form-element textarea {
  height: 120px;
  border: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  cursor: pointer;
  transition: border var(--animation);
}
.form-element textarea:focus {
  border: 1px solid var(--accent-txt-cl);
  border-radius: 4px;
  outline: none;
}
.accept {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.modal-accept {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
}
.modal-link {
  color: var(--accent-txt-cl);
  padding-left: 4px;
}
.checkbox {
  width: 16px;
  height: 15px;
  border: 2px solid var(--secondary-txt-color);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 9px;
}
.accept input:checked + label .checkbox {
  background: var(--accent-txt-cl);
  border: 2px solid var(--accent-txt-cl);
}
.modal-btn-submit {
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  padding: 10px 52px;
  border: none;
  line-height: 1.88;

  color: var(--light-bg-cl);
  cursor: pointer;
  background-color: var(--accent-txt-cl);
}
